body {

    background-color: #fdf6e3;
}
h1 {
    color: red;
}
.logo {
    width: 400px;
    height: 400px;
    background-image: url("../img/logo.png");
 }
.bird {
    width: 550px;
    height: 226px;
    background-image: url("../img/bird.png");
}